* {
  font-family: wat;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  touch-action: none;
  overflow: hidden;
}

.App {
  display: flex;
  font-size: 10px;
  position: relative;
}

.top-title {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 2rem;
}

@font-face {
  font-family: 'wat';
  src: url(/src/font/MouseMemoirs-Regular.ttf);
}


.fisharea-container {
  width: 100%;
  height: 100vh;
  z-index: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.inventory-container {
  position: absolute;
  width: 20%;
}

.itemstore-container {
  position: absolute;
}